@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";

/* Copy and paste and printing function of lyrics web pages are disabled for a Japanese viweer. */

/* no print */
@media print {
  body {
    display: none !important;
  }
}

/* no selection */
body {
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* General styles */
html,
body,
#root,
main {
  height: auto;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
